body{
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #4b5c6b;
}
img{
    max-width: 100%;
}

@media(min-width: 768px){
    .card-api:nth-child(odd){
        .img-card{
            order: -1;
        }
    }
}