@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #737373;
}
img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    color: #000;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

button {
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 700;
}

.btn-1 {
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
    transition: 0.3s;
}

.btn-2 {
    background-color: transparent;
    border: 1px solid #fff;
    transition: 0.3s;
}

.btn-1:hover {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-2:hover {
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
}

.navbar-light .navbar-nav .nav-link {
    color: #252B42;
    font-weight: 600;
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FA4A0C;
}

.slider{
    padding: 80px 20% 150px;
    background-size: cover;
    h4, h1{
        font-weight: 700;
    }
    button {
        border-radius: 30px;
        padding: 10px 40px;
        font-size: 1.25rem;
    }
}

.phone-img{
    margin-top: -150px;
    padding: 0 60px 20px;
    border-bottom: 2px solid #E4E4E4;
}

.card-api {
    align-items: center;
    h2, h5{
        font-weight: 700;
    }
    h5{
        color: #FA4A0C;
    }
    .text-card{
        text-align: left;
    }
}

.download{
    padding: 85px;
    margin-top: 100px;
    background-position: center;
    background-size: cover;
    h1, h4{
        color: #fff;
    }
    h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}

footer{
    padding: 50px 0;
    .row{
        align-items: center;
    }
    .copywright{
        font-family: 'Roboto', sans-serif;
    }
}

@media(min-width: 768px){
    .card-api:nth-child(odd){
        .img-card{
            order: -1;
        }
    }
}
@media(min-width: 576px){
    .navbar-light .navbar-nav .nav-link {
        margin-right: 50px;
    }
    .logo{
        margin-left: 50px;
    }
    .slider{
        h1,h4,h5{
            color: #fff;
        }
        .btn-1-slider{
            text-align: right;
        }
        .btn-2-slider{
            text-align: left;
        }
    }
}
@media(max-width: 575px){    
    .slider{
        padding: 80px 5px;
        background-image: none!important;
        background: #FAFAFA;
        h4,h5{
            color: #737373;
        }
        .btn-2 {
            border: 1px solid #FA4A0C;
            color: #FA4A0C;
        }
        .btn-1:hover {
            border: 1px solid #FA4A0C;
            color: #FA4A0C;
        }
        .btn-2:hover {
            color: #fff;
        }
    }
    .phone-img{
        margin-top: 0;
        padding: 0;
        border-bottom: none;
        background-image: linear-gradient(#FAFAFA, #FFF);;
    }
    .card-api{
        .text-card {
            text-align: center;
        }
    }
    .download{
        background-image: none!important;
        background: #252B42;
        padding: 80px 20px;
    }
    footer{
        .logo-footer{
            display: none;
        }
    }
}